body{
margin: 0;
font-family: 'Josefin Sans', sans-serif;
// font-family: 'Jost', sans-serif;
}
.logo{
    width: 150px;
}
.wrapper{
    .nav{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &__menu{
            &--link{
                display: inline-block;
                padding: 1rem 1.1rem;
                font-weight: 500;
                font-size: 1.2rem;
            }
            &--link:nth-child(5){
                padding:0 4.7rem;
                color: red;
            }
        }
    }
    .banner{
        font-family: 'Josefin Sans', sans-serif;
        align-items: center;
        &__col{
            width: 50%;
            left: 6%;
            transform: translate(1%, 10%);
            height: 100vh;
            padding: 3rem;
            filter:grayscale(.5);
            background-image: url('../assets/c.jpg');
            background-size:contain;
            background-repeat: no-repeat;
            position: relative;
            &--card{
                position: absolute;
                height: 15vh;
                border-radius: 10px;
                box-shadow: 0 4px 10px rgba(12, 53, 15, 0.2);
                background-color: white;
                width: 20%;
                opacity: .5;
                top: 6%;
                // right: 40%;
                left: 48%;
                transform: translate(90%, -60%);
            }
            &--img1{
                padding: .5rem;
                width: 15%;
                left: 10%;
                top: 10%;
                transform: translate(-100%, 20%);
                border-radius: 100%;
                box-shadow: 0 4px 10px rgba(12, 53, 15, 0.2); 
            }
            &--img2{
                margin-top: 1rem;
                width: 15%;
                left: 10%;
                top: 10%;
                transform: translate(-100%, 20%);
                border-radius: 100%;
                border: 2px solid white;
                box-shadow: 0 4px 10px rgba(12, 53, 15, 0.2); 
            }
        }
        &__texts{
            margin: 4rem 0;
            &--title{
                font-size: 65px;
                font-weight:bolder;
                margin-top: 2rem 0;
            }
            &--text{
                font-size: 1.1rem;
                // font-weight: l;
            }
            &--span{
                font-weight: 900;
            }
            &--btn{
                background-color: rgb(227, 231, 245);
                padding: .5rem 1.5rem;
                border-radius: 10px;
                border:  2px solid rgb(227, 231, 245);
                color: royalblue;
                font-weight: 800;
            }
            &--btn:hover{
                transition:3s all ease-in-out ;
                background-color: transparent;
                border: 2px solid royalblue;
            }
        }
        &__forms{
            width: 80%;
            left: -15%;
            transform: translate(1%, -65%);
            background-color: white;
            padding: 2rem;
            border-radius: 7px;
            box-shadow: 0 4px 10px rgba(12, 53, 15, 0.2); 
            &--inputs{
            padding: .8rem .5rem;
            }
        }
    }
    .bookings{
        &__col{
            box-shadow: 0 4px 10px rgba(12, 53, 15, 0.2); 
        }
    }
    .gallery{
        &__col{
            &--title{
                font-size: 64px;
                font-weight: bolder;
                color: purple;
            }
        }
    }
    .featured{
        &--title{
            font-weight: bolder;
            text-align: center;
            margin-bottom: 1rem;
            font-size: 50px;
        }
        &__col{
            &--title{
                font-weight: bolder;
                margin-top: 10px;
            }
            &--text{
                color: aqua;
            }
        }
    }
    .holiday{
        &__img{
            width: 92%;
            // left: 20%;
        }
        &__col{
            padding: 1rem 1rem;
            &--title{
                font-size: 30px;
                font-weight: bolder;
                margin-bottom: 2rem;
                padding-top: 1.5rem ;
            }
            &--icon{
                cursor: pointer;
                padding: .8rem;
                border-radius: 100%;
                text-align: center;
                width: 50px;
                height: 50px;
            }
            &--subtitle{
                font-weight: bold;
                font-size: 23px;
            }
        }
    }
    .explore{
        &--title{
            font-weight: 900;
        }
        &__col{
            &--img{
                width: 50%;
            }
            &--subtitle{
                font-weight: bold;
            }
        }
    }
    .download{
        &--title{
            font-weight: bolder;
        }
    }
    .footer{
        &__menu{
            &--list{
                list-style-type: none;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .wrapper{
        .banner{
            &__col{
                width: 100%;
            }
            &__texts{
                &--title{
                    font-size: 2rem;
                }
            }
        }
        .bookings{
            &__col{
                &--img{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .wrapper{
        .banner{
            &__img{
                width: 50%;
                height: 100vh;
            }
            &__texts{
                &--title{
                    font-size: 2rem;
                }
            }
            &__forms{
                width: 80%;
                top: 15%;
                left: 15%;
                transform: translate(1%, -25%); 
            }
        }
        .bookings{
            &__col{
                &--img{
                    width: 100%;
                }
            }
        }
    }
}